
  *, *:before, *:after {
    box-sizing: inherit;
  }
html {
    height: 100%;
}  
body {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    margin: 0; 
    min-height: 100%;
}
.header {
    align-items: center;
    background-color: #5647D4;
    display: flex;
    justify-content: space-between;   
}
.site-name {
    color: white;
    margin: 2em;
}
.navigation {        
    background-color: #5647D4;
    display: flex;
}
.navigation-list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-link {
    text-decoration: none;
    color: white;
    margin: 1em;
}
.nav-link:hover {
    text-decoration: underline;
}
.mid-section {
    display: flex;
    flex: 0 1 auto;
}
.sidebar {
    background-color: #FF6B53;
    display: flex;
    flex: 0 0 25%;
    flex-direction: column;
    padding: 1em 2em;
    text-align: center;
}
.main-section {
    display: flex;
    flex-direction: column;
}
.main-section-top {
    background-color: white;
    display: flex;
}
.main-content {
    padding: 1em 2em;
}
.main-section-bottom {
    align-items: center;
    background-color: #696561;
    color: white;
    display: flex;
    min-height: 5rem;
    max-height: 7rem;
    padding-left: 1rem;
}
img {
    width: 100%;
}
@media (min-width: 0px) and (max-width: 500px) { 
    img { max-width: 20%;
    }